{% extends 'base.html' %}
{% load static %}
{% block title %}About Us | Cosmesthetics{% endblock title %}

{% block maincontent %}
<section class="about">
    <div class="aboutimage">
        <h1>ABOUT US</h1>
    </div>
    <div class="abouttext">
        <p>
            We believe that it should be possible to develop a platform for inexpensive yet effective fashion products for ladies. We specialize in skincare, healthcare products, accessories and fashion products like gadgets and electronics especially curtailed for the needs of ladies. We believe this is not just a business. It is a way to express oneself, to be more confident about oneself and to be more creative about one's beauty through expression. Therefore we are committed to maintain the quality of items we sell through our platform. 
        </p><br>
        <p>
            By providing a high-quality, innovative products friendly to the user and environment we aim to:
        </p><br>
        <ul class="points">
            <li>Take over the leading market position in the segment of cosmetic care.</li>
            <li>To become the first choice of end users as well as professional users</li>
            <li>Increase our market share and corporate reputation in new and existing markets.</li>
        </ul>
    </div>
</section>
{% endblock maincontent %}
{% block jscode %}
{% endblock jscode %}