{% extends 'base.html' %}

{% block title %}Log In | Cosmesthetics{% endblock title %}
{% block additionalheader %}
<meta name="robots" content="nofollow" />
{% endblock additionalheader %}
{% block maincontent %} 
<div class="container">
    <div class="login-form">
      <form action="{% url 'login' %}" method="post" novalidate>
        <h1>Login</h1>
        <p>
          Already have an account? Login in or
          <a href="{% url 'signup' %}">Sign Up</a>
        </p>
        {% if messages %}
        {% for message in messages %}
        <strong><p>{{message}}</p></strong>
        {% endfor %}
        {% endif %}
        {% csrf_token %}
        {% for fm in form %}
        <i style="color: red;font-style: normal;">{{fm.errors|striptags}}</i> {{fm.label_tag}} {{fm}}
        {% endfor %}

        <label>
          <input type="checkbox" checked="checked" name="remember" style="margin-bottom: 15px"/>
          Remember me
        </label>

        <p>
            By creating an account you agree to our
            <a href="{% url 'terms' %}">Terms & Conditions</a>.
        </p>

        <div class="buttons">
          <button type="submit" class="signupbtn">Log In</button>
            <a href="{% url 'home' %}"><button type="button" class="cancelbtn">Cancel</button></a>
        </div>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class='form-field-error' style="color: red;">{{error}}</p>
        {% endfor %}
        {% endif %}
        <a class="forgot" href="{% url 'password_reset' %}">Forgot Password?</a>  
      </form>
    </div>
  </div>
{% endblock maincontent %}